useDynLib(aSPU2)
importFrom(Rcpp, evalCpp)
importFrom("stats", "as.dist", "cophenetic", "fitted.values", "glm", "rgamma", "rmultinom", "var", "rnbinom", "rnorm", "pnorm", "rbinom", "cor", "pchisq", "qnorm")
export(aSPU)
export(aSPUO)
export(daSPU)